.my-offers-list-wrapper {
  display: flex;
  align-content: center;
  width: 100%;
  flex-direction: column;
  row-gap: 20px;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100vw - 20px);
  overflow: hidden;
  padding: 8px;
}

.add-offer-link {
  text-decoration: none;
  color: white;
}

.my-offers-title {
  position: relative;
}
